* {
    font-family: sans-serif;
}

body {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

main h1 {
    text-align: center;
    font-size: 6.8125vw;
    color: white;
    font-family: 'Suez One', serif;
    font-weight: lighter;
    line-height: 1.0em;
    opacity: 0.8;
    margin: 7.8125vw;
    letter-spacing: .08em;
}

main p {
    text-align: center;
    font-size: 1.5625vw;
    letter-spacing: .6em;
    color: white;
    opacity: .8;
}


table {
    width: 45vw;
    margin: 0 auto;
}

.con {
    width: 45vw;
    height: 2vh;
    background-color: #c8c7c8;
    position: relative;
    top: 3vw;
    margin: 0 auto;
}

.down {
    width: 45vw;
    height: 2vh;
    background-color: #82a3dc;
    animation-name: load;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes load {
    from {
        width: 0px;
    }
    to {
        width: 40vw;
    }
}

.zero {
    position: relative;
    top: 4vw;
}

.zero p {
    text-align: left;
    opacity: .8;
}

.full {
    position: relative;
    top: 4vw;
}

.full p {
    text-align: right;
    opacity: .8;
}

.social {
    width: 36vw;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6vw;
    opacity: .6;
}

.social a {
    display: block;
    float: left;
    width: 6.7890625vw;
    height: 6.7890625vw;
    color: white;
    text-decoration: none;
    margin: 1vw;
    padding: 0px;
    border: 0.17vw solid #fff;
    text-align: center;
    font-size: 3.8828125vw;
    border-radius: 50%;
    transition: .5s opacity;
}

.social a:hover {
    opacity: .5;
    color: white;
    text-decoration: none;
}

.social a i {
    line-height: 6.7890625vw;
    color: white;
}

.facebook {
    background-color: #3b5998;
}

.linkedin {
    background-color: #4875B4;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.twitter {
    background-color: #1da1f2;
}

footer {
    margin: 1.953125vw;
}

footer p {
    font-size: 1.5625vw;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    opacity: .8;
}

footer p a {
    color: #82a3dc;
    font-style: italic;
}
